<%- include("partials/header") -%>

    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" name="postTitle" placeholder="">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Post</label>
        <textarea class="form-control" name="postBody" rows="3"></textarea>
        <button class="btn btn-primary" type="submit" name="list" value= "" >Publish</button>
      </div>
    </form>

<%- include("partials/footer") -%>
